attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
coverage==5.4
idna==2.10
iniconfig==1.1.1
iso-639==0.4.5
iso3166==1.0.1
isodate==0.6.0
numpy==1.19.5
packaging==20.8
pluggy==0.13.1
py==1.10.0
pycryptodome==3.9.9
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.2.2
pytest-cov==2.11.1
requests==2.25.1
six==1.15.0
streamlink==2.0.0
toml==0.10.2
urllib3==1.26.3
websocket-client==0.57.0
